body {
     margin: 0px;
     background-color: #f3f3f3;
     font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
 }
 
 header {
     height: 10vh;
 }
 
 header button {
     height: 100%;
     width: 200px;
     border: none;
     background-color: transparent;
     cursor: pointer;
 }
 
 /* parent complete */
 /* parent cheaked */
 
 #parent {
     height: 90vh;
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: space-between;
 }
 
 
 /* images completed */
 /* images cheaked */
 
 #images {
     height: 100%;
     width: 30%;
     display: flex;
     align-items: center;
     justify-content: center;
 }
 
 #images img {
     width: 90%;
     height: 90%;
     object-fit: cover;
 }
 
 /* details completed */
 /* details cheaked */
 
 #details {
     height: 100%;
     width: 60%;
     display: flex;
     flex-direction: column;
     align-items: start;
     justify-content: space-evenly;
 }
 
 #details h2 {
     font-size: 30px;
     margin: 0px;
     padding: 0px;
 }
 
 #details h4 {
     font-size: 30px;
     margin: 0px;
     padding: 0px;
     color: grey;
 }
 
 #details ul {
     margin: 0px;
     padding: 0px;
 }
 
 #details ul p {
     font-size: 15px;
     margin: 0px 0px 5px 0px;
     padding: 0px;
 }
 
 #bottom {
     margin: 0px;
     padding: 0px;
     width: 220px;
     height: 50px;
     display: flex;
     justify-content: space-between;
 }
 
 #select {
     margin: 0px;
     padding: 0px 10px 0px 10px;
     width: 105px;
     height: 100%;
     border: none;
     background-color: #dddddd;
 }
 
 #details button {
     margin: 0px;
     padding: 0px;
     width: 220px;
     height: 50px;
     border: none;
     background-color: #232323;
     color: #ffffff;
 }